// Stylesheet: 480px以上(スマホの横向き)のモニタで適用

// トップページ
.header {
  &__top {
    display: block;
    position: static;
    border: none;
    text-align: center;
    z-index: 0;
  }

  &__btn {
    display: inline-block;
    padding: 3px 8px;
  }

  .actions {
    padding-top: 0;
  }
}

.swiper-container {
  height: 400px;
}

.wrapper {
  margin-top: 0;

  &__title {
    width: 100%;
  }

  &__title>h1 {
    position: absolute;
    transform: none;
    margin: 0;
    font-size: 2rem;
    top: -50%;
    left: 25%;
  }

  &__title>p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  &__text-inner {
    font-size: 1.4rem;
  }

  &__footer {
    position: absolute;
    left: 57%;
  }
}

.domination {
  &__box {
    width: 100%;
  }

  &__inner {
    font-size: 1.6rem;
  }
}

.menu {
  margin-right: 0;
  width: 200px;
  text-align: center;
  margin: 0 auto;


  &::before {
    display: none;
  }

  & li {
    margin-bottom: 10px;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  &__item {
    width: 130px;
  }
}

.tabs-menu {
  &__container {
    display: block;
    width: 100%;
  }

  &__img {
    width: 184px;
  }
}

// サインアップ・イン
.new {
  display: inline-block;
}

.side-header {
  width: 100%;

  &__top {
    width: auto;
    height: auto;
  }

  &__i {
    display: inline-block;
  }

  .icon {
    font-size: 15px;
  }
}

.signup-in {
  width: auto;

  &__box {
    width: 100%;
  }
}

// ログイン後
.search {
  width: auto;
}

.side-mypage {
  width: auto;
  position: static;
  margin-top: 20px;

  &__box {
    display: flex;
  }
}

.rank {
  margin: 0;
  display: inline;
}

.post-index {
  &__top-title {
    margin: 20px auto;
    letter-spacing: 1px;
    font-size: 2.5rem;
    height: auto;
  }

  &__card-box {
    display: block;
  }
}

// 投稿ページ
.message {
  &__container {
    width: auto;
  }
}

// マイページ
.content {
  .mypage {
    &__box {
      width: auto;
    }
  }

  .post-show {
    display: block;

    &__box {
      width: auto;
    }
  }
}

// ユーザーリスト
.users-list {
  &__container {
    display: block;
  }

  &__card {
    width: auto;
  }
}

// 投稿詳細
.problem-show {
  display: block;

  &__box {
    margin: 0;
  }

  &__info {
    width: auto;
  }
  .comment-box {
    width: auto;
    margin-top: 20px;
  }
}
