// Stylesheet: 600px以上のタブレットやモニタで適用

.header {
  &__btn {
    padding: 4px 8px;
    font-size: .9rem;

  }

  &__top {
    position: static;
  }

  .actions {
    padding-top: 22px;
  }
}

.wrapper {
  margin: auto;
  &__title>h1 {
    font-size: 3rem;
  }
}

.domination {
  &__inner {
    width: auto;
  }
}

.menu {
  margin-right: 0;
  width: 200px;
  text-align: center;
  margin: 0 auto;


  &::before {
    display: none;
  }

  & li {
    margin-bottom: 10px;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  &__item {
    width: 130px;
  }
}

.tabs-menu {
  &__container {
    display: block;
    width: 100%;
  }
}

.side-header {

  &__top {
    width: 240px;
    margin: 0 auto;
    text-align: center;
  }
}

// ログイン後
.side-mypage {
  width: auto;
  position: static;
  margin-top: 20px;

  &__box {
    display: flex;
  }
}

.rank {
  margin: 0;
  display: inline;
}

.post-index {
  &__top-title {
    margin: 20px auto;
    letter-spacing: 1px;
    font-size: 3rem;
    height: auto;
  }
}
// マイページ
.content {
  .post-show {
    &__box {
      width: auto;
    }
  }
}

// 投稿詳細
.problem-show {
  display: block;

  &__box {
    margin: 0;
  }

  &__info {
    width: auto;
  }
  .comment-box {
    width: auto;
    margin-top: 20px;
  }
}

.radio-box{
  display: inline-flex;
}
