.field {
  width: 100%;
  margin-bottom: 8px;
  &__name {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 600;
    display: block;
  }

  &__inner {
    font-size: 17px;
    width: 23%;
    height: 32px;
    border-radius: 4px;
    margin: 10px 0;
  }

  &__btn {
    background-color: $bcOrange;
    border: 1px solid $bcOrange;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 5px 50px;
    margin: 17px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: $cWhite;
    text-decoration: none;
    &.solid {
      box-shadow: 0 4px 0 0 $Black;
      border-radius: 7px;

      &:hover {
        transform: translate(0, 2px);
        box-shadow: none;
      }
    }
  }
  &__check {
    font-size: 1.6rem;
    font-weight: 550;
  }

  &__post {
    width: 40%;
    height: 30px;
    font-size: 1.7rem;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, .4);
  }

  &__body {
    width: 65%;
    height: 100px;
    font-size: 1.7rem;
    padding: 1px;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, .4);
  }
  &__image-box {
    border: 1px solid $Black;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, .4);
  }

  &__post,
  &__body{
    margin-bottom: 20px;
  }
}
