@import 'colors';
@import 'mixin';


// swiper
.swiper-container {
  width: 100%;
  height: 600px;

  &__image {
    width: 100%;
    height: 100%;
  }
}
.wrapper {
  &__title {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, calc(-50% + 20px));
    color: $cWhite;
    font-weight: 600;
    text-shadow:  10px 0 10px $cWhite;
    opacity: 0;
    transition: opacity 0.2s ease 1s,transform 0.6s ease 1s;
  }
  &__title > h1 {
    width: 100%;
    font-size: 6rem;
    margin: 80px;
  }
  &__title > p {
    font-size: 3rem;
    opacity: 0;
    transform: translate(-50%, calc(-50% + 20px));
    transition: opacity 0.5s ease 1s,transform 0.8s ease 1s;
    letter-spacing: 3px;
  }
  &__text-inner {
    color: $bgOrangered;
    font-size: 4rem;
  }

  &__footer {
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &__arrow {
    position: absolute;
    bottom: 0;
    width: 8px;

    @include animation(
      $name: kf-arrow-anime,
      $iteration-count: infinite,
      $duration: 2s,
      $timing-function: linear)
  }

  &__scroll {
    color: $cWhite;
    font-size: 1.6rem;
    margin-left: 10px;
  }
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    transform: translateY(-10%);
  }
  30% {
    transform: none;
  }
}


.swiper-slide {
  &-active{

    & .wrapper__title {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    & .wrapper__title > p {
      opacity: 1;
      transform: translate(20%, -9%);
    }
  }
}
