@import 'colors';

// タブメニュ-
.tabs-menu {
  width: 100%;
  padding-bottom:  50px;
  background-color: $bcOrange;

  &__container {
    margin: 0 auto;
    width: 70%;
    display: flex;
  }
  &__img {
    width: 650px;
    height: 200px;
  }
}


.menu {
  position: relative;
  list-style: none;
  width: 270px;
  margin-right: 20px;
  background-color: $cWhite;
  padding: 15px 10px;
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 104%;
    border: 15px solid transparent;
    border-left: 16px solid $cWhite;
  }

  & li {
    display: inline-block;
    margin-bottom: 40px;

    &:nth-child(1) {
      margin-top: 40px;
    }
  }

  &__item {
    display: inline-block;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    width: 233px;
    height: 40px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    color: $bcOrange;
    background-color: rgb(218, 211, 211);
    border-radius: 20px;
    transition: all .4s;
    cursor: pointer;

    &:hover {
      background: $bcOrange;
      color: #fff;
    }
  }
}

.active {
  background: $bcOrange;
  color: #fff;
}

ul.menu li :not(.active):hover {
  opacity: 0.5;
  transition: .8s;
}

.contents {
  padding: 10px;
  text-align: center;


  &__title {
    text-align: center;
    font-size: 2rem;
  }

  &__text {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 2px;
  }

  .content {
    list-style: none;
    font-size: 14px;
    padding: 20px 10px;
    line-height: 1.4;
    background: $cWhite;
    min-height: 150px;
    display: none;
    border-radius: 5px;

    &.show {
      display: block;
    }
  }
}
