@import 'modules/swiper.scss';
@import 'modules/flash.scss';
@import 'modules/colors.scss';
@import 'home.scss';
@import 'signup-in.scss';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
