@import 'modules/swiper';
@import 'modules/flash';
@import 'modules/colors';
@import 'modules/field';
@import 'modules/mixin';
@import 'modules/tabs';
@import 'home.scss';
@import 'signup-in.scss';
@import 'new.post.scss';
@import 'mypage.scss';
@import 'problems.scss';
@import 'users.scss';
@import 'problem.show.scss';
@import 'likes.scss';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.delete-btn {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: $cWhite;
  border: 2px solid $Black;
  border-radius: 15px;
  padding: 6px 20px;
  transition: color .3s;

  &:hover {
    color: orangered;
  }
}

// ページネーション
.pagination {
  height: 100px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.pagination a {
  background-color: grey;
  text-decoration: none;
}

.pagination * {
  color: white;
  margin: 0 7px;
  text-decoration: none;
  padding: 12.5px 18.5px;
  border-radius: 25px;
}

.current {
  color: white;
  background: #93c9ff;
  border-radius: 22.5px;
}

.pagination a:hover {
  background: #93c9ff;
}

.pagination .disabled {
  color: #666666;
  padding: 11px 17px;
  border: 1px solid #666666;
  border-radius: 23px;
}

