@import 'modules/swiper';
@import 'modules/flash';
@import 'modules/colors';
@import 'modules/field';
@import 'modules/mixin';
@import 'home.scss';
@import 'signup-in.scss';
@import 'new.post.scss';
@import 'mypage.scss';
@import 'post.index.scss';
@import 'users.list.scss';
@import 'problem.show.scss';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.delete-btn {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: $cWhite;
  border: 2px solid $Black;
  border-radius: 15px;
  padding: 6px 20px;
  transition: color .3s;

  &:hover {
    color: orangered;
  }
}
