// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

// header/style
.header {
  width: 100%;

  &__top {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__top-text {
    &:hover{
      text-decoration: none;
      opacity: .7;
    }
  }

  &__top-text,
  &__btn {
    text-decoration: none;
    font-size: 1.5rem;
  }

  &__animals,
  &__domi {
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;

  }

  &__animals {
    color: goldenrod;
  }

  &__domi {
    color: $bdGreen;
  }

  // 簡単ログインのスタイルも含みます
  &__btn {
    padding: 8px 16px;
    font-weight: 600;
    background-color: $bcOrange;
    color: $cWhite;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      text-decoration: none;
      background-color: $cWhite;
      color: $bcOrange;
      border: 1px solid $bcOrange;
    }
  }

  // devise/sessinosの_testuserのstyle
  .actions {
    padding-top: 30px;
  }

  &__text {
    margin: 1px;
  }
}
// topページ簡単ログインボタン
.top-btn {

  padding: 8px 16px;
    font-weight: 600;
    background-color: $bcOrange;
    color: $cWhite;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      background-color: $cWhite;
      color: $bcOrange;
      border: 1px solid $bcOrange;
    }
}

// ヒーロースライダーは、modules/swiper.scssに記述してます

// home/index style
.domination {
  width: 100%;
  height: 100%;
  background-color: $bcOrange;

  &__box {
    width: 70%;
    height: 100%;
    padding-bottom: 100px;

    margin: 0 auto;
    text-align: center;
    background-color: $cWhite;
  }

  &__text {
    font-size: 4.5rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 0;

    &::after {
      content: '';
      display: block;
      border: 2px solid $bdGreen;
      width: 40%;
      margin: 0 auto;
    }
  }

  &__inner {
    width: 60%;
    font-size: 2.2rem;
    margin: 0 auto 30px;
  }

  .container {
    display: flex;
    justify-content: center;

    &__title {
      text-align: center;
      margin-bottom: 20px;
    }

    &__inner {
      list-style: none;
    }
    &__info {
      display: none;
    }
    .show {
      display: block;
    }

    &__right-box {
      margin-left: 10px;

    }

    &__title {
      font-size: 20px;
    }

    &__img {
      width: 300px;
      height: 130px;
    }

    &__img-text {
      display: flex;
      list-style: none;
      font-size: 0;
      padding: 0;
      margin-bottom: 50px;
    }

    &__items {
      display: inline-block;
      text-decoration: none;
      background-color: $Black;
      color: $cWhite;
      padding: 5px 10px;
      border-radius: 16px;
      margin-left: 10px;
      font-size: 2rem;
      &:hover {
        opacity: 0.5;
        transition: .8s;
      }
    }

    .active {
      background: #353d3e;
      color: #fff;
    }

    &__btn {
      display: inline-block;
      text-decoration: none;
      background-color: $Black;
      color: $cWhite;
      padding: 5px 10px;
      border-radius: 16px;
      margin-top: 20px;
      font-size: 2.6rem;
    }
  }
}



.footer {
  width: 100%;
  height: 40px;
  background-color: rgba(7, 44, 124, 0.87);
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $cWhite;
  font-weight: 600;
}
