// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'modules/colors';

//トップページ
.header {
  width: 100%;
  padding-top: 10px;

  &__top {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid $cWhite;
  }

  &__top-text {
    &:hover {
      text-decoration: none;
      opacity: .7;
    }
  }

  &__top-text,
  &__btn {
    text-decoration: none;
    font-size: 1.5rem;
  }

  &__animals,
  &__domi {
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
  }

  &__animals {
    color: goldenrod;
  }

  &__domi {
    color: $bdGreen;
  }

  // 簡単ログインのスタイルも含みます
  &__btn {
    padding: 8px 16px;
    font-weight: 600;
    background-color: $bcOrange;
    color: $cWhite;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      text-decoration: none;
      background-color: $cWhite;
      color: $bcOrange;
      border: 1px solid $bcOrange;
    }
  }

  // devise/sessinosの_testuserのstyle
  .actions {
    padding-top: 30px;
  }

  &__text {
    margin: 1px;
  }
}

// topページ簡単ログインボタン
.top-btn {

  padding: 8px 16px;
  font-weight: 600;
  background-color: $bcOrange;
  color: $cWhite;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: $cWhite;
    color: $bcOrange;
    border: 1px solid $bcOrange;
  }
}

// ヒーロースライダーは、modules/swiper.scssに記述してます

// home/index style
.domination {
  width: 100%;
  height: 100%;
  background-color: $cWhite;

  &__box {
    width: 70%;
    height: 100%;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: $cWhite;
  }

  &__text {
    font-size: 4.5rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 0;
    text-align: center;

    &::after {
      content: '';
      display: block;
      border: 2px solid $bdGreen;
      width: 40%;
      margin: 0 auto;
    }
  }

  &__inner {
    width: 70%;
    font-size: 2.2rem;
    margin: 0 auto 30px;
    text-align: center;
    line-height: 55px;
  }
}

.search {
  width: 40%;
  height: 100%;

  &__input {
    width: 70%;
    height: 30px;
    font-size: 1.4rem;
    padding: 3px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, .4);

  }

  &__btn {
    padding: 5.5px 18px;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    background-color: $croyalblue;
    color: $cWhite;
    transition: opacity .2s;

    &:hover{
      opacity: .67;
    }
  }
}

.footer {
  width: 100%;
  height: 40px;
  background-color: rgba(7, 44, 124, 0.87);
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $cWhite;
  font-weight: 600;
}
