// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// お気に入り
.favorite {
  display: none;

  &__heart{
    cursor: pointer;
    font-size: 2rem;
    margin: 5px;
    color: palevioletred;
    transition: all .3s;
    &:hover {
      @include animation (
        $name: kf-heart-stay,
        $iteration-count: 1,
        $duration: 2s,
        )
    }
  }

  &__count {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

@keyframes kf-heart-stay {
  0%{
    transform: translateX(2px);
  }
  30%{
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-2px);
  }
  80%{
    transform: translateX(-5px);
  }
  100%{
    transform: translateX(0);
  }

}
