.message {
  width: 100%;
  height: 100%;
  padding: 100px 20px 0;
  text-align: center;

  &__container {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }

  &__title {
    padding: 16px 0;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 2px;
    &::after {
      content: '';
      display: block;
      border: 2px solid $bdGreen;
      width: 60%;
      margin: 20px auto 20px;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 80px;
  }
}
