.message {
  width: calc(100vw - 360px);
  height: 100%;
  padding: 30px 20px 20px;
  text-align: center;
  &__container {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }

  &__title {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 2px;
    &::after {
      content: '';
      display: block;
      border: 2px solid $bdGreen;
      width: 60%;
      margin: 20px auto 20px;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
