// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'modules/colors';

// ランキング
.rank {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 15px;
  padding: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: gold;
  transform: rotate(-20deg);
}

.contents-row{
  margin-top: 100px;
}

// ログイン後のトップページ
.post-index {
  width: 100%;
  height: 100%;

  &__container {
    position: relative;
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      transform: skewY(-5deg);
      transform-origin:left bottom;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: orangered;
    }
  }

  &__sharp {
    padding: 50px 30px;
  }

  &__top-title {
    text-align: center;
    margin-top: 50px;
    font-size: 4rem;
    height: 100px;
    letter-spacing: 10px;
  }

  &__card-box {
    display: flex;
    width: 70%;
    margin: 0 auto 12px;
    padding: 4px;
    background-color: $cWhite;
    border-bottom: 1px solid $Black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 20px 5px;
    transition: all .5s;

    &:hover {
      transform: scale(1.15);
      opacity: .8;
    }
  }

  &__info {
    display: flex;
  }

  &__info-post {
    margin-right: 10px;
  }

  &__title {
    width: 100%;
    font-size: 1.4rem;
    color: $Black;
  }

  &__index-image {
    width: 50px;
    height: 50px;
    transition: opacity .3s;
    text-decoration: none;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }
  }
  // 投稿された詳細の続きを読む機能のデザイン
  &__truncate {
    text-decoration: none;
    color: skyblue;
    font-weight: 600;
  }

  &__user-title {
    text-decoration: none;
    color: $Black;
  }

  &__user-inner {
    text-align: center;
    margin-right: 20px;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }
  }

  &__username {
    text-decoration: none;
    color: $Black;
    font-size: 1.2rem;
  }

  &__right {
    max-width: 800px;
    margin-top: 12px;
  }

  &__body {
    width: 500px;
  }
}
.date {
  margin-top: 45px;
  padding: 5px 5px 0 0;
  opacity: .5;
}

