@import 'modules/colors';

// 投稿された詳細

.problem-show {
  width: 100%;
  height: 100%;

  &__container {
    text-align: center;
    padding: 20px 0;
    margin: 20px 130px;
    background-color: $cWhite;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 20px 5px;
  }


  &__image {
    max-width: 80%;
    width: 500px;
    height: 250px;
    margin-top: 16px;
    background-size: center;
  }

  &__info {
    width: 450px;
    margin: 30px auto;
  }

  &__title {
    display: block;
    font-size: 1.6rem;
    opacity: .7;
    letter-spacing: 8px;
  }

  &__title-name {
    letter-spacing: 10px;
    font-weight: 600;
    font-size: 2.2rem;
    border-bottom: 2px dotted $Black;
  }

  &__title-body {
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 2rem;
  }

}


.problem-user {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-top: 12px;
  &::after{
    content: '';
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 0 auto;

  }

  &__post {
    font-size: 1.3rem;
  }

  &__deco {
    text-decoration: none;
    transition: letter-spacing .3s;
    &:hover {
      opacity: .7;
      letter-spacing: 2px;
    }
  }

  &__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__username {
    font-size: 2rem;
    color: $Black;
    margin-top: 10px;
  }

  .icon {
    font-size: 2rem;
    color: $bgOrangered;
  }
}

.comment-box{
  padding: 20px 0;
  margin: 20px 130px;
  background-color: $cWhite;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 20px 5px;

  &__send{
    border-bottom: 1px solid gray;
    text-align: center;

  }
  .textbox{
    width: 80%;
    font-size: 1.7rem;
    padding:  5px;
  }

  .form__submit{
    font-size: 1.4rem;
    padding: 5px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: royalblue;
    color: $cWhite;
    border: none;
    border-radius: 15px;
    transition: opacity .3s;

    &:hover {
      opacity: .5;
    }

  }

  .comments{
    padding: 15px 30px;

    &__box{
      margin-bottom: 10px;
      border-bottom: 2px solid gray;
      opacity: .7;
    }

    &__title{
      text-align: center;
      font-size: 1.7rem;

    }

    &__username{
      color: $Black;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
    }

    &__text{
      margin: 15px 40px;
      font-size: 1.25rem;
      letter-spacing: 2px;
    }
  }
}
