.new {
  display: flex;
}

.side-header {
  height: 100vh;

  &__top {
    width: 360px;
    height: 100%;
    background-color: rgba(7, 44, 124, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .icon{
    font-size: 30px;
    color: $cWhite;
    line-height: 3;
    margin-right: 5px;
  }

  &__i{
    display: flex;
  }

  &__btn {
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 8px 16px;
    margin: 24px 0;
    background-color: $bcOrange;
    color: $cWhite;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s;


    &:hover {
      text-decoration: none;
      background-color: $cWhite;
      color: $bcOrange;
      border: 1px solid $bcOrange;
      letter-spacing: 4px;
    }
  }
}

.signup-in {
  width: calc(100vw - 360px);
  padding: 30px 20px 20px;

  &__title {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 2px;
  }

    &__text {
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 2px;
      &::after {
        content: '';
        display: block;
        border: 2px solid $bdGreen;
        width: 60%;
        margin: 20px auto 20px;
      }
    }

  &__box {
    text-align: center;
  }


}
