// サインアップ・イン

.new {
  display: flex;
  width:  100%;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,136,93,0.041053921568627416) 0%, rgba(0,212,255,1) 100%);

}

.side-header {
  width: 35%;
  background-color: #4a696975;
  &__top {
    width: 360px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .icon{
    font-size: 30px;
    color: $cWhite;
    line-height: 3;
    margin-right: 5px;
  }

  &__i{
    display: flex;
  }

  &__btn {
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 8px 16px;
    margin: 24px 0;
    background-color: $bcOrange;
    color: $cWhite;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s;


    &:hover {
      text-decoration: none;
      background-color: $cWhite;
      color: $bcOrange;
      border: 1px solid $bcOrange;
      letter-spacing: 4px;
    }
  }
}

.signup-in {
  width: calc(100vw - 360px);
  padding: 30px 20px 20px;
    &__text {
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 2px;
    }

  &__box {
    width: 70%;
    border-radius: 20% 40% 20% 0;
    padding: 40px 0;
    margin: 0 auto;
    background-color: #4a696975;
    text-align: center;
  }

}
